.homeContainer{
    display : flex;
    width : 100%;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .text {
    display: flex;
    align-items: center;
    margin-left: 500px;
  }
  
  .button {
    position: absolute;
    top: 150px;
    left: 20px;
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* background-image: url('https://m.media-amazon.com/images/I/511HBJEgmrL.jpg'); */
  }
  
  .button1 {
    position: absolute;
    top: 150px;
    left: 210px;
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button2 {
    position: absolute;
    top: 150px;
    left: 410px;
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  