.forgot-password-page {
    /* background-image: "url('https://images.unsplash.com/photo-1557683311-eac922347aa1?q=80&w=2029&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')"; */
    background-size: 'cover';
    background-color:'#f7deea' ;
    height: '100vh';
    display: 'flex';
    align-items: 'left';
    justify-content: 'left';

}
.forgot-password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.forgot-password-form {
    max-width: 400px;
    padding: 20px;
    background-color:'#f8d5e6' ;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forgot-password-form label {
    display: block;
    margin-bottom: 10px;
}

.forgot-password-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.forgot-password-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.forgot-password-form button:hover {
    background-color: #45a049;
}


.forgot-password-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px; 
    text-align: top;
    color: #333; 
}


